.order-category-button-container {
    text-align: left;
}

.order-category-button {
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin: 10px;
    margin-left: 0;
    padding: 15px;
    width: 140px;
    border: none;
    background-color: var(--seventh);
}

.order-category-button:hover {
    background-color: var(--fith);
}

.order-body-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 25px 0;
}

.order-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 15px;
    width: 30%;
    border-radius: 5px;
    border: 2px solid var(--third);
}

.add-order-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.order-body-titles {
    font-size: 24px;
    margin: 5px;
    color: var(--seventh);
}

.order-add-button {
    color: white;
    font-weight: 600;
    margin: 5px;
    border: none;
    background-color: var(--seventh);
}

#order-container {
    width: 100%;
    padding: 50px;
}

@media only screen and (max-width: 700px) {
    .order-category-button-container {
        text-align: center;
        width: 100%;
    }

    .order-category-button {
        font-size: 14px;
        width: 120px;
    }

    .order-body-container {
        justify-content: center;
        align-items: center;
    }

    .order-card {
        width: 90%;
    }

    #order-title {
        font-size: 35px;
    }

    #order-container {
        padding: 10px;
    }
}