/* --primary: hsla(30, 95%, 64%, 0.35);
--secondary: hsla(0, 0%, 0%, 0.95);
--third: hsla(30, 100%, 50%, 0.35);
--fourth: hsla(0, 0%, 100%, 0.35);
--fith: hsl(32, 100%, 35%);
--sixth: hsl(32, 100%, 14%);
--seventh: hsla(30, 100%, 50%, 0.85);
--eighth: hsla(193, 6%, 48%, 0.35); */


/* --------------------------------
# About Header
-------------------------------- */
.about-header-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 75vh;
    background: linear-gradient(180deg, var(--primary), var(--secondary)),
        url('https://imgur.com/l7WfRAV.png') no-repeat center center / cover;
}

.about-header-title {
    margin: 10px;
    width: 90%;
    font-size: 55px;
    color: white;
}

.about-header-body {
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 40px;
    padding-top: 5px;
    width: 75%;
}

/* --------------------------------
# About body
-------------------------------- */
.about-body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 1px 3px 9px rgb(0 0 0 / 20%);
}

.about-body-subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 20px;
    width: 100%;
}

.about-body-image {
    width: 40%;
}

.about-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 10px;
}

.about-body-title {
    font-size: 30px;
    color: var(--sixth);
    margin: 5px;
}

.about-body-body {
    color: var(--sixth);
    text-align: left;
    padding-left: 10px;
    border-left: 4px solid var(--third);
}

.about-body-link {
    color: var(--fith);
    text-decoration: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--fith);
}

.about-body-link:hover {
    background-color: var(--third);
}

/* --------------------------------
# About Contact Info
-------------------------------- */
.about-community-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

.contact-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    border: 2px dotted var(--third);
}

.contact-info-title {
    font-size: 55px;
    color: var(--sixth);
    margin: 0;
}

.contact-line-break {
    width: 60%;
}

.contact-info-body {
    font-size: 16px;
    color: var(--fith);
    width: 90%;
}

.contact-info-link-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    width: 80%;
}

.contact-info-link {
    color: var(--fith);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--fith);
}

.contact-info-link:hover {
    background-color: var(--third);
}

/* --------------------------------
# About Media
-------------------------------- */

@media only screen and (min-width: 1600px) {}

@media only screen and (max-width: 600px) {

    /* Header */
    .about-header-container {
        justify-content: center;
    }

    .about-header-title {
        font-size: 30px;
        color: white;
        margin: 0;
        width: 90%;
    }

    .about-header-body {
        font-size: 14px;
        padding: 20px 0;
        width: 90%;
    }

    /* Body */
    .about-body-container {
        margin: 20px;
        margin-top: 40px;
    }

    .about-body-subcontainer {
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }

    .about-body-image {
        width: 100%;
    }

    .about-body {
        padding: 20px 0;
    }

    .about-body-title {
        text-align: left;
        margin: 0;
    }

    #about-careers-subcontainer {
        flex-direction: column-reverse;
    }

    /* Contact */
    .about-community-container {
        height: 100%;
    }

    .contact-info-container {
        margin: 20px;
        width: 100%;
    }

    .contact-info-title {
        font-size: 35px;
    }

    .contact-info-link {
        font-size: 14px;
        margin: 5px;
    }

    .contact-info-link:hover {
        background-color: var(--third);
    }
}