/* --primary: hsla(30, 95%, 64%, 0.35);
--secondary: hsla(0, 0%, 0%, 0.95);
--third: hsla(30, 100%, 50%, 0.35);
--fourth: hsla(0, 0%, 100%, 0.35);
--fith: hsl(32, 100%, 35%);
--sixth: hsl(32, 100%, 14%);
--seventh: hsla(30, 100%, 50%, 0.85);
--eighth: hsla(193, 6%, 48%, 0.35); */

/* --------------------------------
# Reward Header
-------------------------------- */
.spacer {
    height: 100px;
    width: 100%;
}

.reward-header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}

.header-burger-image {
    width: 30%;
}

.header-salad-image {
    width: 30%;
}

.header-center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title {
    font-size: 55px;
    color: var(--seventh);
    margin: 15px 0;
}

.header-body {
    font-size: 16px;
    color: var(--sixth);
    margin: 15px 0;
}

.join-tag {
    text-decoration: none;
    color: var(--fith);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--fith);
    margin: 20px 0;
}

.join-tag:hover {
    color: white;
    background-color: var(--third);
}

#salad-animation {
    position: relative;
    right: -450px;
    -webkit-animation: slide1 1s forwards;
    -webkit-animation-delay: 2s;
    animation: slide1 1s forwards;
    animation-delay: 1s;
}

#burger-animation {
    position: relative;
    left: -450px;
    -webkit-animation: slide 1s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 1s forwards;
    animation-delay: 1s;
}

@keyframes slide {
    100% {
        left: 0;
    }
}

@-webkit-keyframes slide {
    100% {
        left: 0;
    }
}

@keyframes slide1 {
    100% {
        right: 0;
    }
}

@-webkit-keyframes slide1 {
    100% {
        right: 0;
    }
}

/* --------------------------------
# Reward Benefits
-------------------------------- */

.benefits-background {
    display: flex;
    justify-content: center;
    padding: 50px;
    height: 100%;
    background: url('https://imgur.com/hO9fhqf.png');
}

.reward-benefits-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    border-radius: 10px;
    box-shadow: 1px 3px 9px rgb(0 0 0 / 20%);
    background: white;
}

.benefits-header {
    width: 100%;
    font-size: 55px;
    color: var(--seventh);
}

.benefits-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 15px;
    border-radius: 10px;
    border: 1px dotted var(--third);
}

.card-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.number-points {
    margin: 0;
}

.points {
    font-size: 20px;
    margin: 2px;
}

.card-title {
    font-size: 20px;
    height: 40px;
    color: var(--fith);
}

.card-body {
    height: 100px;
    color: var(--sixth);
}

#card-image-numbers {
    font-size: 50px;
    margin: 0;
}

/* --------------------------------
# Reward Earning
-------------------------------- */

.reward-earning-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vmin;
}

.earning-main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 25px;
}

.earning-header {
    font-size: 45px;
    color: var(--seventh);
    text-align: left;
    width: 100%;
    margin: 0;
}

.earning-title {
    font-size: 18px;
    color: var(--fith);
    text-align: left;
    width: 100%;
}

.earning-body {
    color: var(--sixth);
    text-align: left;
    margin: 0;
    padding-left: 12px;
    width: 90%;

}

.earning-image-contianer {
    display: flex;
    width: 100%;
    padding: 25px;
}

.earning-image {
    width: 100%;
    height: 90%;
    border-radius: 8px;
}

.earning-image-body {
    font-size: 55px;
    color: white;
    text-align: left;
    position: absolute;
    margin: 0;
    padding: 0 25px;
    width: 20%;
}

/* --------------------------------
# Reward Media
-------------------------------- */

@media only screen and (min-width: 1600px) {
    .header-title {
        font-size: 70px;
        margin: 20px;
        margin-top: 60px;
    }

    .header-body {
        font-size: 18px;
    }

    .join-tag {
        font-size: 20px;
    }

    .earning-header {
        font-size: 60px;
    }

    .earning-title {
        font-size: 25px;
    }

    .earning-body {
        font-size: 18px;
        width: 70%;
    }

    .earning-image-body {
        font-size: 70px;
    }

    #burger-animation {
        width: 500px;
        height: 500px;
        margin-right: 50px;
        left: -650px;
    }

    #salad-animation {
        width: 500px;
        height: 500px;
        margin-left: 55px;
        right: -650px;
    }
}

@media only screen and (max-width: 600px) {
    .benefits-background {
        padding: 25px 0;
    }

    .reward-benefits-container {
        flex-direction: column;
    }

    .benefits-card {
        width: 90%;
    }

    .reward-earning-container {
        grid-template-columns: 1fr;
        height: 100%;
    }

    .earning-image-contianer {
        display: none;
    }

    #burger-animation {
        visibility: hidden;
    }

    #salad-animation {
        visibility: hidden;
    }
}