:root {
    --green: #44ed85;
}



.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    height: 100px;
    width: 100%;
    z-index: 99999;
    /* background-image: url('https://imgur.com/hO9fhqf.png'); */
}

.nav-links {
    display: flex;
    font-size: 22px;
    color: black;
    text-decoration: none;
    height: 100px;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.nav-links:hover {
    background-color: hsla(30, 100%, 50%, 0.35);
    color: white;
}

.hamburger {
    height: 80px;
    width: 80px;
}



.user-name {
    color: black;
}

.line-break {
    width: 90%;
    color: hsla(30, 100%, 50%, 0.35);
}

#burger:hover {
    background-color: white;

}

#logout {
    margin-left: 100px;
}

@media only screen and (min-width: 1600px) {
    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100%;
        padding: 50px;
    }

    .nav-links {
        width: 80%;
    }

    .user-name {
        width: 300px;
        margin-right: 110px;
    }

    #logout {
        margin: 0;
        width: 50%
    }
}

@media only screen and (max-width: 900px) {
    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100%;
        padding: 8px;
    }

    .nav-links {
        width: 80%;
        padding: 10px;
        margin: 0;
        align-self: center;
    }

    .user-name {
        width: 50px;
        margin-left: 25px;
        font-size: 10px;
    }

    #logout {
        margin: 0;
        width: 50%
    }
}

@media only screen and (max-width: 600px) {
    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100%;
        padding: 8px;
    }

    .nav-links {
        width: 80%;
        padding: 5px;
        margin: 0;
        font-size: 20px;
        align-self: center;
    }

    .hamburger {
        height: 50px;
        width: 50px;
        margin-left: 20px;
    }

    .user-name {
        width: 50px;
        margin-left: 25px;
        font-size: 10px;
    }

    #logout {
        margin: 0;
        width: 50%
    }
}