.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    height: 80px;
    background-image: url('https://imgur.com/hO9fhqf.png');
}

.links {
    text-decoration: none;
    font-size: 12px;
    color: black;
}