/* --primary: hsla(30, 95%, 64%, 0.35);
--secondary: hsla(0, 0%, 0%, 0.95);
--third: hsla(30, 100%, 50%, 0.35);
--fourth: hsla(0, 0%, 100%, 0.35);
--fith: hsl(32, 100%, 35%);
--sixth: hsl(32, 100%, 14%);
--seventh: hsla(30, 100%, 50%, 0.85);
--eighth: hsla(193, 6%, 48%, 0.35); */
/* --------------------------------
# Home Header
-------------------------------- */
.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 50px auto;
    width: 90%;
    height: 75vh;
    background: url('https://imgur.com/uTVYGWX.png') no-repeat center center / cover;
    text-shadow: 1px 3px var(--third);
}

.order-title {
    font-size: 55px;
    margin: 0;
}

.order-link {
    text-decoration: none;
    font-size: 35px;
    margin-top: 30px;
    padding: 5px;
    color: white;
    border: 3px solid white;
    border-radius: 15px;
    background-color: hsla(30, 100%, 50%, 0.20);
}

.order-link:hover {
    background-color: hsla(30, 100%, 50%, 0.5);
}

/* --------------------------------
# Home Rewards
-------------------------------- */

.home-rewards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    min-height: 85vh;
    width: 100%;
    background-image: url('https://imgur.com/hO9fhqf.png');
}

.h-rewards-image {
    width: 90%;
    height: 80%;
}

.h-rewards-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
}

.h-rewards-body>div>h1 {
    font-size: 55px;
    margin: 0;
}

.h-rewards-body>div>p {
    font-size: 25px;
    margin: 35px;
    margin-bottom: 50px;
}

.h-rewards-text {
    text-shadow: 2px 3px var(--third);
}

.h-rewards-link {
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 2px 4px var(--third);
    background-color: hsla(30, 100%, 50%, 0.20);
}

.h-rewards-link:hover {
    background-color: var(--third);
}

/* --------------------------------
# Home Highlights
-------------------------------- */

.menu-highlights {
    font-size: 55px;
    color: var(--fith);
    text-shadow: 2px 3px var(--third);
}

.highlights-container {
    display: grid;
    margin: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.highlight-item-titles {
    font-size: 30px;
    color: white;
    text-shadow: 1px 3px var(--third);
}

.highlight-items {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 10px;
    padding: 50px 0;
    color: white;
    transition: 0.4s;
}

.highlight-items:hover {
    transform: scale(1.09);
    transition: 0.4s;
}

#daily {
    grid-area: 1 / 1 / 1 / 3;
    background: linear-gradient(180deg, var(--primary), var(--secondary)),
        url('https://imgur.com/gooGYZx.png') no-repeat center center / cover;
}

#appetizers {
    grid-area: 1 / 3 / 1 / 4;
    background: linear-gradient(180deg, var(--primary), var(--secondary)),
        url('https://imgur.com/gVSNyGm.png') no-repeat center center / cover;
}

#burgers {
    grid-area: 2 / 1 / 3 / 2;
    background: linear-gradient(180deg, var(--primary), var(--secondary)),
        url('https://imgur.com/f3VHTLd.png') no-repeat center center / cover;
}

#drinks {
    grid-area: 2 / 2 / 3 / 4;
    background: linear-gradient(180deg, var(--primary), var(--secondary)),
        url('https://imgur.com/n6oM01k.png') no-repeat center center / cover;
}

#desserts {
    grid-area: 3 / 1 / 4 / 3;
    background: linear-gradient(180deg, var(--primary), var(--secondary)),
        url('https://imgur.com/pfv2ruS.png') no-repeat center center / cover;
}

#kids {
    grid-area: 3 / 3 / 4 / 4;
    background: linear-gradient(180deg, var(--primary), var(--secondary)),
        url('https://imgur.com/Ua5jf9K.png') no-repeat center center / cover;
}

/* --------------------------------
# Home Bottom Links
-------------------------------- */

.bottom-links-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 50px 0;
    width: 100%;
}

.bottom-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 100%;
    width: 60%;
    color: var(--sixth);
    border-radius: 10px;
    border: 1px dotted var(--third);
}

.bottom-link-images {
    width: 100px;
    height: 100px;
}

.bottom-link-links {
    margin-top: 10px;
    color: var(--sixth);
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid var(--third);
}

.bottom-link-links:hover {
    background-color: var(--third);
}

.bottom-link-body {
    font-size: 16px;
}


/* --------------------------------
# Home media 
-------------------------------- */
@media only screen and (max-width: 600px) {

    /* Header */
    .order-title {
        font-size: 35px;
    }

    .order-link {
        font-size: 24px;
    }

    /* Rewards */
    .home-rewards-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);

    }

    .h-rewards-body>div>h1 {
        font-size: 45px;
    }

    .h-rewards-body>div>p {
        font-size: 25px;
        margin: 25px 0;
        margin-bottom: 30px;
    }

    /* Highlights */
    .menu-highlights {
        font-size: 45px;
    }

    .highlights-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%;
    }

    .highlight-items {
        width: 90%;
    }

    /* Bottom Links */
    .bottom-links-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);

    }

    .bottom-links {
        height: 95%;
    }
}